@import '../index.scss';
.wrapper{
  // background-image: linear-gradient(to right bottom, rgba(#213555, .75), rgba(#F0F0F0, .75));
  background-color: #F0F0F0;

  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
  height: 100vh;
}

.container{
  
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  padding: 10rem 5rem;
  // border: 1px solid black;
  border-radius: 2rem;
  // background-image: linear-gradient(to right bottom, rgba(#213555, 1), rgba(#F0F0F0, 1));
  background-color: rgba(#1f2a33, .8);
  @include respond(phone){
    padding: 8rem 3.5rem;
    top: 50%;
  }
  
  &__title{
    font-size: 3rem;
    background: linear-gradient(90deg,  #F0F0F0, #537895 );
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 3rem;
    
    @include respond(phone){
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
  &__form{

    @include respond(phone){
      margin-top: 1rem;
    }
    
    &_name{
      background-color: transparent;
      border-bottom: 2px solid#F0F0F0;
      height: 5rem;
      width: 25rem;
      font-size: 2rem;
      outline: none;
      border-radius: 1rem;
      margin-bottom: 1.5rem;
      color: white;
      padding-left: 1rem;
      @include respond(phone){
        font-size: 1.5rem;
        height: 3.5rem;
        width: 16rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
      }

      &:focus{
        text-align: center;
        opacity: .65;
        &::placeholder{
          color: transparent;
        }
      }
    }
    &_radio{
      // background-color: rebeccapurple;
      display: flex;
      align-items: center;
      
      margin-bottom: .5rem;
      @include respond(phone){
        margin-top: 1rem;
      }
      
      &_input{
        width: 2rem;
        height: 2rem;
        @include respond(phone){
          width: 1.5rem;
          height: 1.5rem;
        }
        
      }
      &_label{
        font-size: 1.75rem;
        color: white;
        @include respond(phone){
          font-size: 1.5rem;
        }
        &:not(:last-child){
          margin-right: 3rem;
        }
      }
    }

    &_button{
      background-color: #4F709C;
      padding: 1rem;
      border-radius: .75rem;
      color: white;

      @include respond(phone){
        width: 7rem;
      }

      &:hover{
        background-color: rgba(#213555, .5);
        color: black;
        cursor: pointer;
      }
    }
    &_btns{
      @include respond(phone){
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
      }
      
    }
  }
}
