.container{
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20rem;
  
  &__title{
    font-size: 3rem;
  }
  &__form{
    
    &_name{
      background-color: rgba(gray, .3);
      height: 5rem;
      width: 25rem;
      font-size: 2rem;
      outline: none;
      &:focus{
        text-align: center;
      }
    }
    &_radio{
      // background-color: rebeccapurple;
      display: flex;
      align-items: center;
      
      &_input{
        width: 2rem;
        height: 2rem;  
      }
      &_label{
        font-size: 2rem;
        &:not(:last-child){
          margin-right: 3rem;
        }
      }
    }

    &_button{
      background-color: cyan;
      padding: 1rem;
      border-radius: .75rem;

      &:hover{
        background-color: rgba(cyan, .5);
        color: white;
        cursor: pointer;
      }
    }
  }
}
