@import '../index.scss';

.container{
  
  // background-image: linear-gradient(to right bottom, rgba(#014871, 1), rgba(#D7EDE2, 1));
  background-color: rgba(#213555, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  // justify-content: center;
  width: 100vw;
  min-height: 100vh;
  &__charts{
    display: flex;
    
    @include respond(tab-port){
      flex-direction: column;
    }
  }
}

.barchart, .linechart{
  width: 60rem;
  margin: 2rem;
  background-color: #213555;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

  @include respond(tab-port){
    width: 45rem;
  }
  @include respond(phone){
    width: 30rem;
    margin-top: 2rem;
  }
  @include respond(less-phone){
    width: 25rem;
    
  }
}

.linechart{
  display: flex;
  align-items:flex-start;
  
  @include respond(phone){
    flex-direction: column;
  }
}

.choice{
  // background-color: cyan;
  border: 1px solid black;
  border-radius: .5rem;
  @include respond(phone){
    margin: 1rem .5rem;
  }
  &__value{
    width: 10rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    padding: .5rem 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color:#014871;

    @include respond(tab-port){
      width: 6rem;
      font-size: 1.5rem;
      padding: .25rem .5rem;
    }
    @include respond(phone){
 
    }
    @include respond(less-phone){
      width: 5rem;
      font-size: 1.25rem;
      
    }
    
  }
  &__dropdown{
    display: none;

  }
  &:hover .choice__dropdown{
      display: flex;
      flex-direction: column;

  }

  &__style{
    &:hover{
      background-color:#D7EDE2;
      color: #014871;
    }
  }
}

.about{
  font-size: 2.5rem;
  margin: 0 2rem;
  color: white;
}