.page{
  height: 100vh;
  // background-color: rebeccapurple;
  position: relative;
}

.main{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  // height: 30rem;
  // width: 30rem;
  // background-color: aquamarine;
  &__title{
    margin-bottom: 1rem;
  }
  &__button{
    background-color: cyan;
    padding: 1rem;
    border-radius: .75rem;

    &:hover{
      background-color: rgba(cyan, .5);
      color: white;
      cursor: pointer;
    }
    
  }
}

.right{
  margin-left: 1rem;
}