@import './index.scss';
.page{
  height: 100vh;
  // background-image: linear-gradient(to right bottom, rgba(#213555, 1), rgba(#F0F0F0, 1));
  background-color: #F0F0F0;
  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
  position: relative;
}

.main{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include respond(less-phone){
    display: flex;
    flex-direction: column;
    top: 40%;
  }
  
  &__title{
    margin-bottom: 1rem;
    font-size: 5rem;
    background: linear-gradient(90deg,  #213555, #4F709C );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include respond(phone){
      font-size: 2.5rem;
    }
    
  }
  &__button{
    background-color: #4F709C;
    padding: 1rem;
    border-radius: .75rem;
    color: white;
    @include respond(less-phone){
      // padding: .75rem 1rem;
      // font-size: 1.35rem;
    }

    &:hover{
      background-color: rgba(#213555, .5);
      color: black;
      cursor: pointer;
    }
    
  }
}

.right{
  margin-left: 1rem;
  @include respond(less-phone){
    margin-left: 0;
    margin-top: .5rem;
  }
}