:root {
  font-family: 'Josefin Slab', serif;  line-height: 1.5;
  font-weight: 700;

}

html{
  font-size: 10px;
}


*{
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  background-color: #1f2a33;
}
@mixin respond($breakpoint){
  @if $breakpoint == less-phone {
    @media (max-width: 31.24em) { @content }; // 500px
  }
  
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content };  // 600px
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content };     //900px
  }
}